<% include ./partials/header %>

<section>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="detailsBoard">
                        <p>Depart : <%= trainResults.locationName %> </p>
                        <p>Arrive : <%= trainResults.filterLocationName %>  </p>
                    </div>
                </div>
            
            <div class="col-md-6">
                <div class="departureBoard">
                    <div class="departureBoardHeader"></div>
                        <div class="departureHeader-cell">Departure</div>
                        <div class="departureHeader-cell">Expected</div>
                        <div class="departureHeader-cell">Platform</div>
                        <div class="departureHeader-cell hidden-xs hidden-sm">Updates</div>
                    
                        
                        <div id="departureBoardBody">
                            <% if(trainResults.trainServices){ %>
                                <% var noServices = trainResults.trainServices.length; %>
                                    <% for(i = 0; i<noServices; i++) { %>
                                        <div class="departureBoard-row"><div class="departureBoard-cell"><%= trainResults.trainServices[i].std %> </div>
                                            <div class="departureBoard-cell"><%= trainResults.trainServices[i].etd %> </div>
                                                <% if(trainResults.trainServices[i].platform){ %>
                                                    <div class="departureBoard-cell"><%= trainResults.trainServices[i].platform %> </div>
                                                <% } else { %>
                                                        <div class="departureBoard-cell">TBC</div>
                                                    <% } %>
                                                    <% if(trainResults.trainServices[i].isCancelled){ %>
                                                         <div class="departureBoard-cell hidden-xs hidden-sm"><%= trainResults.trainServices[i].cancelReason %></div>
                                                    <% } else { %>
                                                        <% if(trainResults.trainServices[i].delayReason){ %>
                                                            <div class="departureBoard-cell hidden-xs hidden-sm"><%= trainResults.trainServices[i].delayReason %></div>
                                                                <% } else { %>
                                                                    <div class="departureBoard-cell hidden-xs hidden-sm"></div>
                                                            <% } %>    
                                                        <% } %>
                                                            </div>    
                                                    <% } %>
                                                <% } else { %>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>
                                                        <div class="departureBoard-row"><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell"></div><div class="departureBoard-cell hidden-xs hidden-sm"></div></div>

                        <% } %>
                        </div>
                    </div>
                </div>

            <div class="col-md-3">
                    <div class="delayBoard">
                        <div class="delayBoardHeader"></div>
                        <div class="delayHeader-cell">Delays</div>
                            <div id="delayBoardBody">
                                    <% if(trainResults.nrccMessages) { %>
                                    <div class="delayBoard-row">
                                        <div class="delayBoard-cell"><%- trainResults.nrccMessages[0].value %></div>
                                    </div>
                                <% } else { %>
                                    <div class="delayBoard-row">
                                        <div class="delayBoard-cell"> No current delays via this route.</div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>

<% include ./partials/footer %>




