<% include ./partials/header %>

<section>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-3 visible-md visible-lg">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 detailsBoard">
                        <p>Depart : <%= trainResults.locationName %> </p>
                        <p>Arrive : <%= trainResults.filterLocationName %>  </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            
            <div class="col-md-6">
                <table class="departureBoard">
                        <tr><th>Departure</th><th>Expected</th><th>Platform</th><th>Updates</th></tr>
                        <% if(trainResults.trainServices){ %>
                                <% var noServices = trainResults.trainServices.length; %>
                                    <% for(i = 0; i<noServices; i++) { %>
                                            <tr><td><%= trainResults.trainServices[i].std %> </td>
                                                <td><%= trainResults.trainServices[i].etd %> </td>
                                                <% if(trainResults.trainServices[i].platform){ %>
                                                    <td><%= trainResults.trainServices[i].platform %> </td>
                                                <% } else { %>
                                                        <td>TBC</td>
                                                    <% } %>
                                                    <% if(trainResults.trainServices[i].isCancelled){ %>
                                                         <td><%= trainResults.trainServices[i].cancelReason %></td>
                                                    <% } else { %>
                                                            <% if(trainResults.trainServices[i].delayReason){ %>
                                                                <td><%= trainResults.trainServices[i].delayReason %></td>
                                                                <% } else { %>
                                                                    <td></td>
                                                            <% } %>    
                                                        <% } %>
                                                            </tr>    
                                                    <% } %>
                                                <% } else { %>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                                                        <tr><td></td><td></td><td></td><td></td></tr>
                        <% } %>
                </table>
            </div>
            <div class="col-md-3">
                    <table class="delayBoard">
                        <tr><th>Delays</th></tr>
                        <tr><% if(trainResults.nrccMessages) { %>
                            <td><%- trainResults.nrccMessages[0].value %></td>
                        <% } else { %>
                            <td> No current delays via this route.</td>
                            <% } %>
                            </tr>
                    </table>
            </div>
    </div>
</section>

<% include ./partials/footer %>




