<% include ./partials/header %>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-6 circle">
                    <p>Depart : <%= trainResults.locationName %> </p>
                    <p>Arrive : <%= trainResults.filterLocationName %>  </p>
                </div>
            </div>
            
            <div class="col-md-6">
                <table class="departureBoard">
                        <tr><th>Departure</th><th>Expected</th><th>Platform</th><th>Updates</th></tr>
                        <% var noServices = trainResults.trainServices.length; %>
                            <% for(i = 0; i<noServices; i++) { %>
                                    <tr><td><%= trainResults.trainServices[i].std %> </td>
                                        <td><%= trainResults.trainServices[i].etd %> </td>
                                        <td><%= trainResults.trainServices[i].platform %> </td>
                                            <% if(trainResults.trainServices[i].isCancelled){ %>
                                                 <td><%= trainResults.trainServices[i].cancelReason %></td>
                                            <% } else { %>
                                                    <% if(trainResults.trainServices[i].delayReason){ %>
                                                        <td><%= trainResults.trainServices[i].delayReason %></td>
                                                        <% } else { %>
                                                            <td></td>
                                                    <% } %>    
                                                <% } %>
                                                    </tr>    
                                            <% } %>
                                            
                    </table>
            </div>
            <div class="col-md-3">
                    <table class="delayBoard">
                        <tr><th>Delays</th></tr>
                        <tr><td>Data Test</td></tr>
                    </table>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>




