<% include ./partials/header %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 circle">
                <p>Station From : <%= trainResults.filterLocationName %> </p>
                <p>Station To   : <%= trainResults.locationName %>  </p>
            </div>
 
            <div class="col-md-9">
                <div class="departureBoard">
                    <table>
                        <tr><th>Timetabled</th><th>Expected</th><th>Platform</th><th>Updates</th></tr>
                        <% var noServices = trainResults.trainServices.length; %>
                            <% for(i = 1; i<noServices; i++) { %>
                                    <tr><td><%= trainResults.trainServices[i].sta %> </td>
                                        <td><%= trainResults.trainServices[i].eta %> </td>
                                        <td><%= trainResults.trainServices[i].platform %> </td>
                                        <td><%= trainResults.trainServices[i].delayReason %> 
                                            <%= trainResults.trainServices[i].cancelReason %></td></tr>
                            <% }; %>
                    </table>
                </div>
            </div>        
        </div>
    </div>
</section>

<% include ./partials/footer %>




